body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
  
.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 3px;
  }
  
.main-header {
    padding-top: 32px;
    padding-bottom: 79px;
    background-color: #6451d5;
  }
  
.header-top {
    margin-bottom: 72px;
  }
  
.header-top::after {
    display: table;
    clear: both;
    content: "";
  }
  
.logo {
    float: left;
    width: 182px;
  
    min-height: 100px;
  }

.logo img {
    display: block;
  }
  
.main-menu {
    font-weight: bold;
    float: right;
    width: 672px;
    margin-top: 28px;
  
    min-height: 40px;
  }

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.main-menu li {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
  }

.main-menu a {
    font-family:Trebuchet MS,Fira Sans,Arial,sans-serif;
    color: #ffffff;
    text-decoration: none;
  }
  
.main-menu a:hover {
    text-decoration: underline;
  }
  
.main-menu a:active {
      color: 9285e2;
    text-decoration: none;
    opacity: 0.3;
  }
  

  .promo {
    position: relative;
    z-index: 10;
    min-height: 398px;
    width: 425px;
  }

  .promo-title {
    font-family:Trebuchet MS,Fira Sans,Arial,sans-serif;
      color: #ffffff;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
  }

  .promo p {
    margin: 0;
    margin-bottom: 50px;
    color: #bcb3f2;
    font-size: 18px;
    line-height: 30px;
  }

.btn {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #999999;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}
.promo .btn {
    margin-top: 12px;
    width: 320px;
  }

.btn-green {
  background: #382d78;
}

.btn-green:active {
  color: #483f7c;
}

.promo::after{
    content: "";
    position: absolute;
    top: -45px;
    left: 370px;
    z-index: -1;
    width: 840px;
  height: 433px;
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  }
  
